<!DOCTYPE html>
<html>
<head>
	
<link rel="stylesheet" href="css/themes/default/jquery.mobile-1.4.5.min.css">
<script src="js/jquery-1.8.3.min.js"></script>
<script src="js/jquery.mobile-1.4.5.min.js"></script>
<script src="js/jquery.flot.min.js"></script>
<script src="js/jquery.tmpl.js"></script>
<script src="js/lang.js"></script>
<script src="js/constant.js"></script>
<script src="js/main.js"></script>
</head>

<script id="foottmpl" type="text/x-jquery-templ">
    <div data-role="navbar">
      <ul>
		{{each items}}
        <li><a href="#${page}" data-icon="${icon}">${text}</a></li>
		{{/each}}
      </ul>
    </div>
</script>

<script id="btntmpl" type="text/x-jquery-templ">	
<fieldset data-role="controlgroup" data-type="horizontal">
{{each items}}
<label for="${id}">${text}</label><input type="${type}" id="${id}" name="${name}" value="${value}" {{if checked}}checked{{/if}}>
{{/each}}
</fieldset>		
</script>

<script id="connectlsttmpl" type="text/x-jquery-templ">	
{{each items}}
<label for="${id}" addr="${address}"><b>${name}</b>{{if states1}}<span class="ui-li-count">${states1}</span>{{/if}}</label>
<input type="checkbox" id="${id}" addr="${address}" {{if checked}}checked{{/if}}>
{{/each}}
</script>
			
<script id="devicelsttmpl" type="text/x-jquery-templ">
{{each items}}
<li data-icon="${icon}" class="${cls}" addr="${address}"><a href="#"><h1>${name}rrr</h1><p>${states}</p></a></li>
{{/each}}
</script>

<script id="optiontmpl" type="text/x-jquery-templ">
<label for="${id}">${label}</label>
<input type="range" name="${name}" id="${id}" value="${value}" min="${min}" max="${max}" data-show-value="true">
</script>
	


<body>
<div data-role="page" id="page1">
	
  	<!-- header -->  
	<div data-role="header">
	   <a href="#page_device_list" data-role="button" data-rel="dialog" data-transition="slidedown" data-icon="plus" data-iconpos="notext"></a>
	   <h1>....</h1>
	  </div>  
  	<!-- /header -->  
  	 
	<!-- content -->  
  	<div data-role="content"  class="ui-btn">
	  	<div data-role="collapsible" id="connected_section" >	  	
		<legend><span id='connected_title'>.</span></legend>
			<fieldset data-role="controlgroup" data-type="horizontal" id="connected_section1" >
			</fieldset>	
		</div>
    		
		<div data-role="option_section" id='option_section' class="ui-btn">
		
			<div id ='option1'>
	        <label for="op_vid1" id='op_label1'>Option</label>
	        <input type="range" name="points" id="op_vid1" value="50" min="0" max="100" data-popup-enabled="true" data-show-value="true">
			</div>
	    	
			<div id ='option2'>
	        <label for="op_vid2" id='op_label2'>Option</label>
	        <input type="range" name="points" id="op_vid2" value="50" min="0" max="100" data-popup-enabled="true" data-show-value="true">
			</div>
		</div>
	
		<div data-role="footer" id='btn_section' class="ui-btn">
		</div>	
  	</div>   
	<!-- /content -->   
  
	<!-- footer -->
	<div data-role='footer' id="foot1" data-position='fixed' data-fullscreen="true">
	</div>
	<!-- /footer -->
</div> 


<div data-role="page" id="page2">

	<!-- content -->
	<div data-role="content" id="placeholder">    
	</div>    
	<!-- /content -->
	
	<!-- footer -->
	<div data-role='footer' id="foot2" data-position='fixed' data-fullscreen="true">
	</div>
	<!-- /footer -->
</div> 

<div data-role="dialog" id="page_device_list">

    <!-- header -->
    <div data-role="header" data-theme="b">
        <a href="#back" data-rel="back" data-icon="delete" data-iconpos="notext" ></a>
        <h1>Bluetooth</h1>
    </div>
    <!-- /header -->
    
    <!-- content -->
    <div data-role="content">
        <ul data-role="listview" id="page_device_list1">
        </ul>
		<ul data-role="listview" id="page_device_list2">
        </ul>
		<ul data-role="listview" id="page_device_list3">
        </ul>
		<ul data-role="listview" id="page_device_list4">
        </ul>
    </div>
    <!-- /content -->
</div>

<div data-role="dialog" id='page_device_detail'>
	
    <!-- header -->
	<div data-role="header" data-theme="a">
	<a href="#back" data-rel="back" data-icon="delete" data-iconpos="notext"></a>
	<h1>...</h1>
	<a href="#back" data-rel="back" id="btn_edit_ok" data-icon="check" data-iconpos="notext"></a>
	</div>
    <!-- /header -->
    
    <!-- content -->
	<div data-role="content">	
      <div data-role="fieldcontain" id='page_device_detail1'>
        <label for="name">name£º</label>
        <input type="text" id="device_name" value='ray'>     
          
        <label for="device_psd">password£º</label>
        <input type="password" name="psd" id="device_psd" value='1234'>   
        
        <input type="hidden" name="addr" id="device_addr" value='1234'>    
      </div>
	</div>
    <!-- /content -->
</div>


</body>
</html>